# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info in each step.
- Visit each url and take a look at its source through DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

# Some Resources 

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

In [ ]:
# Import the required libraries

In [3]:
import pandas as pd
import bs4
from bs4 import BeautifulSoup
import requests

In [4]:
# Go to your LinkedIn profile and go to Jobs sections. Enter the keywords with whih you want to 
# filter you search. Enter the search criteria and copy the url of the page

In [5]:
url2 = 'https://www.linkedin.com/jobs/search/?keywords=data%20analyst'

In [6]:
# Create a request to get the data from the server

In [7]:
page = requests.get(url2)
soup = BeautifulSoup(page.text, 'html.parser')

In [8]:
#soup.prettify()

In [9]:
# Create an empty dataframe with the columns consisting of the information you want to capture

In [10]:
columns = ['Title', 'Location', 'Salary','Description']
data = pd.DataFrame(columns=columns)
data.head()

Empty DataFrame
Columns: [Title, Location, Salary, Description]
Index: []

A quick example to show how data can be added to a columm in each row

x= pd.DataFrame([[2,3,4]],columns=['A','B','C'])
x=x.append({'A' : 'Sahil' , 'B' : 22} , ignore_index=True)
x=x.append(pd.Series(['Raju', 21, 'Bangalore'], index=x.columns ), ignore_index=True)
print(x)

In [11]:
# Check the HTML code of the webpage. Use inspect element option to check the tag associated with the data 
# that you want to extract/scrape

In [12]:
titles = []
for title in soup.find_all(['h3']):
    titles.append(title.string)
#print(titles)

In [13]:
companies = []
for company in soup.find_all(['h4']):
    companies.append(company.string)
#print(companies)

In [14]:
zipped = zip(titles,companies)
for z in list(zipped):
    data=data.append({'Title' : z[0] , 'Location' : z[1]} , ignore_index=True)
data.head()

                     Title                         Location Salary Description
0             Data Analyst         Innovative Systems Group    NaN         NaN
1  Data Governance Analyst  Momentum Consulting Corporation    NaN         NaN
2             Data Analyst                        INFINIDAT    NaN         NaN
3             Data Analyst           Woolbright Development    NaN         NaN
4             Data Analyst                           Knotel    NaN         NaN

In [15]:
# Use similar steps to scrape the information you want to extract

In [18]:
x = []
for div in soup.find_all(name='div'):
    temp = div.find(name='p')
    x.append(temp)

In [19]:
#print(x)